.bg-menu {
    background: linear-gradient(90deg,  #05b3f5 0%, #343198 100%);
}

.title {
    padding: 1px;
    font-weight: bold!important;
}

.container {
    display: flex;
    justify-content: space-between;
}

.home {
    font-weight: bold;
}

.post {
    font-weight: bold;
}

.tema {
    font-weight: bold;
}

.cadastrar {
    font-weight: bold;
}

.logout {
    font-weight: bold;
}
