.bg-menu {
    background: linear-gradient(90deg,  #05b3f5 0%, #343198 100%);
}

.cursor{
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 20px;
}


.text-decorator-none{
    text-decoration: none;
}