.box1 {
    background: linear-gradient(90deg,  #05b3f5 0%, #343198 100%);
    height: 120px;
}

.box2{
    background: linear-gradient(90deg,  #05b3f5 0%, #343198 100%);
    height: 120px;
}

.redes {
    font-size: 60px;
    color: white;
}

.textos {
    color: white;
}