.caixa{
  background: linear-gradient(90deg,  #05b3f5 13%, #343198 100%);
}

.titulo{
 color: white !important;
 font-weight: bold !important;
}

.botao{
  border-color: white !important;
  background-color: #3F51B5;
  color: white !important;
}

.postagens{
  background-color: white;
}

.text-decorator-none{
  text-decoration: none;
}